header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}
.logo{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
a{
  text-decoration: none;
  color: #fff;
  padding: 3rem;
  font-size: 20px;
}
.active{
  font-weight: bolder;
}
img{
  width: 40px;
  height: 40px;
}
h3 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
}
