<section class="">
    <div class="div-image">
      <img src="{{donnee['image']}}" alt="produit"/>
    </div>
    <div class="contenu" *ngIf="donnee">
      <h3>
        {{donnee["titre"]}}
      </h3>
      <p>
        {{donnee["description"]}}
      </p>
      <hr/>
      <h4>
        {{donnee["prix"]}} FCFA
      </h4>
      <div>
        <button>
          <a  href="https://wa.me/{{donnee['telephone']}}?text={{message}}"
             target="_blank"
             rel="noopener noreferrer">
          Contactez-nous
          </a>
        </button>
      </div>
    </div>
</section>
<app-footer></app-footer>
